  <div class="lead-time"> 
    	<div class="item1"></div> 
      	<div class="item2"><p>Order today for dispatch/collection in approximately <span>[variant.metafields.lbmf.variant_leadtime]</span> from payment confirmation.</p></div> 
  </div>