  <div class="image-with-text__wrapper lead-time"> 
  	<div class="image-with-text__text text-align-left content">
    	<div class="item1"></div> 
      	<div class="item2"><p>Order today for dispatch/collection in approximately <span>[variant.metafields.lbmf.variant_leadtime]</span> from payment confirmation.</p></div> 
    </div> 
  </div>