  <div class="lead-time injected"> 
    	<div class="item1"></div> 
      	<div class="item2"><p>Order today for dispatch/collection in approximately [variant.metafields.lbmf.variant_leadtime] from payment confirmation.</p></div> 
  </div>