  <div class="image-with-text__wrapper lead-time"> 
  	<div class="image-with-text__text text-align-left content">
    	<div class="item1"></div> 
      	<div class="item2"><p>[product.metafields.lbmf.product_designer]</p></div> 
    </div> 
  </div>